body {margin: 0}

.topnav {position: relative;;overflow-x: hidden;background-color:rgba(0,0,0,0.3);box-shadow:0px 0px 10px #000}

.topnav a div{width: 20px;height: 2px;background-color: #fff;margin: 4px 0}

.topnav a{float: left;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;font-size: 36px;margin-bottom:5px;}

.topnav .b-btm:hover{border-bottom:solid #fff 5px;margin-bottom:0px;}

.topnav-centered {background-color:#e32625;float: none;position: absolute;top: 0px;left: 50%;transform: translate(-50%, -50%);margin-top:43px;z-index:9; border-radius:0px 0px 5px 5px;box-shadow:0px 0px 10px #000}

.topnav-centered:hover{box-shadow:0px 0px 0px #000}

.topnav-right {float: right}

.menu-btn{cursor: pointer;}

.menu-btn:hover {color:red}

.sidenav {box-shadow:0px 0px 20px black;height: 100%;width: 0;position: fixed;z-index: 10;top: 0;left: 0;background-color:rgba(0,0,0,0.9);overflow-x: hidden;transition: 0.5s;padding-top: 60px}

.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 40px;font-weight:900;color: #fff;display: block;margin-left:5px}

.sidenav .b-left:hover {border-left:solid #fff 5px;margin-left:0px}

.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 60px;margin-left: 50px}

.sidenav .closebtn:hover {color: red}

#background-wrap {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 400px;
    bottom: 0;
	left: 0;
	width:100%;
	padding-top: 25px;
	position: relative;
	right: 0;
	top: 0;
	z-index: -1;
	background-color: #85DFEC;
	background: -moz-linear-gradient(top, #85DFEC 5%, #f8f8f8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#85DFEC), color-stop(100%,#f8f8f8));
	background: -webkit-linear-gradient(top, #85DFEC 5%,#f8f8f8 100%);
	background: -o-linear-gradient(top, #85DFEC 5%,#f8f8f8 100%);
	background: -ms-linear-gradient(top,  #85DFEC 5%,#f8f8f8 100%);
	background: linear-gradient(top,  #85DFEC 5%,#f8f8f8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85DFEC', endColorstr='#f8f8f8',GradientType=0 );
  	background-image: linear-gradient(#85DFEC, #f8f8f8);
  	text-align:center;
}

/*h1 logo*/
#background-wrap h1 {
  animation: shake1 60s;
  animation-iteration-count: infinite;
  width: 100%;
  height:auto;
  margin:0 auto;
  margin-top:-300px;
  position: absolute; 
  font-weight:900;
  font-size:5vw;
  color:#fff;
  text-shadow:0px 0px 10px #000;
}

@keyframes shake1 {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media screen and (min-width: 980px) {.dn-min-980 {display: none}}

@media screen and (max-width: 980px) {.dn-980 {display: none}}

@media screen and (max-width: 1400px) {#background-wrap h1{font-size:10vw}}

@media screen and (max-width: 560px) {#background-wrap h1{font-size:20vw}}

/* KEYFRAMES clouds*/

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1500px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1500px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1500px;
    }
    100% {
        margin-left: 100%;
    }
}

@media screen and (max-width: 980px) {
	@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}
}

@media screen and (max-width: 560px) {
	@-webkit-keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: 100%;
    }
}	
}

/* ANIMATIONS */
.x2 {
	overlfow-x:hidden;
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	
	-webkit-transform: scale(0.10);
	-moz-transform: scale(0.10);
	transform: scale(0.10);
}

.x3 {
	overlfow-x:hidden;
	-webkit-animation: animateCloud 30s linear infinite;
	-moz-animation: animateCloud 30s linear infinite;
	animation: animateCloud 30s linear infinite;
	
	-webkit-transform: scale(0.12);
	-moz-transform: scale(0.12);
	transform: scale(0.12);
}

.x5 {
	overlfow-x:hidden;
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	
	-webkit-transform: scale(0.16);
	-moz-transform: scale(0.16);
	transform: scale(0.16);
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
	
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	
	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}