#side-menu{
    padding: 14px 25px; 
    color:#000
}
#side-menu:hover{
    background-color:#dedede;
}

#header > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
	box-shadow: 0px 5px 10px lightgray;
  }
  
  #header > ul > li {
    float: right;
    cursor: pointer
  }
  
  #header > ul > li:last-child {
	border-right: none;
  }
  
  #header > ul > li a {
	display: block;
	text-align: center;
	padding: 14px 25px;
	text-decoration: none;
  }

  .menu-a {
    color:#000;
    display:block;
}
  .menu-a:hover{
	background-color:#dedede;
  }

  .nav-title{
	border-bottom: 0px solid #fff;
	background-color:#26619c;
	color:#fff;
	font-size: 1.75em;
}

#header h1{
    color:#fff;display:inline
}

  #header img{
    height:35px;width:auto;border-radius:5px;margin-bottom:-7px;margin-left:8px
  }

  #header .nav-title-li{
    float:left;margin-bottom:-3px
  }


  /*dropdown*/

  #top-bar{
    position: relative;
    height:40px;
    float: left;
    width: 100%;
    background-color: black;
  }
  .dropdown {
    float: right;
  }
  
  .dropdown-content {
    display: none;
    left: 0;
    top: 100%;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  