
#side-menu{
    padding: 21px 25px; 
    color:#000;
    float:right
}
#side-menu:hover{
    background-color:#dedede;
}

#header  {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
	box-shadow: 0px 5px 10px lightgray;
  }
  
  #header > div > a{
    float: right;
    cursor: pointer
  }
  
  #header > div > a {
    color:#000;
    display:block;
	display: block;
	text-align: center;
	padding: 14px 25px;
	text-decoration: none;
  }

  #header > div > a:hover {
    background-color:#dedede
  }

  .nav-title{
	border-bottom: 0px solid #fff;
	background-color:#26619c;
	color:#fff;
    font-size: 1.75em;
    float:left;
    padding: 14px 25px;
    text-decoration:none;
    margin-bottom:-3px
}

#header h1{
    color:#fff;display:inline
}

  #header img{
    height:35px;
    width:auto;
    border-radius:5px;
    margin-bottom:-7px;
    margin-left:8px
  }

  /*dropdown*/
  
  .dropdown {
    display: block;
    display:none;
    left: 0;
    background-color: #fff;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  }
  
  .dropdown a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    text-align:center;
  }
  
  .dropdown a:hover {background-color: #f1f1f1}
 
  
  